body
{
  background-color:#303030;
  color: aliceblue;
  font-family: 'Lato', sans-serif;
  font-size:20px;
}

#container
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.rectangle
{
  width: 960px;
  margin: 20px;
  text-align: center;
}

.square
{
  width: 50%;
  float: left;
}

#logo
{
  float: left;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 70px;
  width: 600px;
  text-align: left;
}

#zegar
{
  float: left;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 70px;
  text-align: left;
}

.tile1
{
  margin: 10px;
  width: 230px;
  height: 142px;
  background-color: #3095d3;
  float: left;
  text-align: center;
}

.tile1:hover
{
  background-color: #2084c2;
}

.tile2
{
  margin: 10px;
  width: 230px;
  height: 142px;
  background-color: #666666;
  float: left;
  text-align: center;
}

.tile2:hover
{
  background-color: #555555;
}

.tile3
{
  margin: 10px;
  width: 230px;
  height: 142px;
  background-color: #2ed33b;
  float: left;
  text-align: center;
}

.tile3:hover
{
  background-color: #1dc22a;
}

.tile4
{
  margin: 10px;
  width: 420px;
  height: 82px;
  background-color: #ee5a32;
  text-align: center;
  font-size: 26px;
  padding: 30px;
  line-height: 150%;
}

.tile5
{
  margin: 10px;
  width: 420px;
  height: 344px;
  background-color: #666666;
  text-align: justify;
  font-size: 26px;
  padding: 30px;
}

.tile5:hover
{
  background-color:#555555; 
}

.yt
{
  margin: 10px;
  width: 105px;
  height: 142px;
  background-color: #da2209;
  float: left;
}

.yt:hover
{
  background-color: #ca1108;
}

.fb
{
  margin: 10px;
  width: 105px;
  height: 142px;
  background-color: #095dda;
  float: left;
}

.fb:hover
{
  background-color: #084cca;
}

.g 
{
  margin: 10px;
  width: 105px;
  height: 142px;
  background-color: #da6e0970;
  float: left;
}

.g:hover
{
  background-color: #ca5d0860;
}

.tw
{
  margin: 10px;
  width: 105px;
  height: 142px;
  background-color: #0998da;
  float: left;
}

.tw:hover
{
  background-color: #0887ca;
}

a.tilelink
{
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 230px;
  height: 142px;
}

a.tilelinkhtml5
{
  color: #ffffff;
  text-decoration: none;
}

a.sociallink
{
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 105px;
  height: 142px;
}